<!DOCTYPE html>
<html>
  <head>
    <title>Codechallengeone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>


  <body>
  <h1>Categories</h1>
  
  <%= link_to "Categories", categories_path %><br>
    <%= yield %>
  </body>
</html>